<h1>{{ question.question_text }}</h1>
<ul>
<h2>choices</h2>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor %}

<!-- added this here -->
 <h2>comments</h2>

{% for comment in question.comment_set.all %}
    <li>{{ comment.comment_text }}</li>
{% endfor %}

</ul>

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text}}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
            <label for="choice{{ forloop.counter }}"> {{ choice.choice_text }}</label>
            <br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="vote">
</form>
